/*================
  Style Settings
================*/

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: tan;
}

h1, h2, nav, section {
    text-align: center;
}

nav {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -50px;
}

ul {
    max-height: 340px;
    margin: 0% auto;
    content: "";
    width: 100%;
    position: relative;
    text-align: center;
}

ul li {
    color: #000;
    background-color: rgb(110, 62, 7);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 8px 2%;
    border: 1px solid #9D9FA2;
    border-radius: 6px;
    cursor: pointer;
}

iframe {
    border: 2px solid rgb(110,62,7);
    border-radius: 3px;
    background-color: rgb(110,62,7);
    padding: 4px;
}

/*================
  Image Settings
================*/

.image-container {
    text-align: center;
    position: relative;
    display: inline-block;
    max-width: 100%;
    width: 235px;
    height: 225px;
    border: 2px solid rgb(110, 62, 7);
    border-radius: 3px;
    background-color: rgb(110,62,7);
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    width: 235px;
    height: 169px;
}

.image-container:hover {
    cursor:pointer;
}

/*===============
  Form Settings
===============*/

#contact input[type="text"] {
    width: 230px;
    margin: 5px auto;
    border: 1px solid #555;
    border-radius: 5px; 
}